/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* GENERAL STYLES AND LAYOUT */
:root {
  /* Primary: Blue 100 */
  --primary-clr-light: hsl(225, 100%, 94%);
  /* Primary: Blue 700 */
  --primary-clr-dark: hsl(245, 75%, 52%);
  /* Accent: Purple 500 */
  --accent-clr: hsl(245, 83%, 68%);
  /* Neutral: Blue 50 */
  --neutral-clr-light: hsl(225, 100%, 98%);
  /* Neutral: Gray 600 */
  --neutral-clr-medium: hsl(224, 23%, 55%);
  /* Neutral: Blue 950 */
  --neutral-clr-dark: hsl(223, 47%, 23%);

  --font-size-xl: 1.75rem;
  --font-size-l: 1.375rem;
  --font-size-m: 1rem;
  --font-size-s: 0.9375rem;

  --line-height-s: 1.35;
  --line-height-l: 1.65;

  --spacing-100: 0.5rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-600: 3rem;
}

/* FOOTER */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
