/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* GENERAL STYLES AND LAYOUT */
@font-face {
  font-family: "Red Hat Display";
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
  src: url(./assets/fonts/RedHatDisplay-VariableFont_wght.woff2) format(woff2)
    tech(variations);
}

:root {
  /* Primary: Blue 100 */
  --primary-clr-light: hsl(225 100% 94%);
  /* Primary: Blue 700 */
  --primary-clr-dark: hsl(245 75% 52%);
  /* Box shadow in Blue 700 with 19%  opacity*/
  --primary-shadow: hsl(245 75% 52% / 0.19);
  /* Accent: Purple 500 */
  --accent-clr: hsl(245 83% 68%);
  /* Neutral: Blue 50 */
  --neutral-clr-light: hsl(225 100% 98%);
  /* Neutral: Gray 600 */
  --neutral-clr-medium: hsl(224 23% 55%);
  /* Neutral: Blue 950 */
  --neutral-clr-dark: hsl(223 47% 23%);
  /* Neutral: White */
  --white: hsl(0 0% 100%);
  /* Shadow for card component */
  --card-shadow: hsl(228 87% 40% / 0.15);

  --font-size-xl: 1.75rem;
  --font-size-l: 1.375rem;
  --font-size-m: 1rem;
  --font-size-s: 0.9375rem;

  --line-height-s: 1.35;
  --line-height-l: 1.65;

  --spacing-100: 0.5rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-600: 3rem;
}

body {
  display: flex;
  flex-direction: column;
  color: var(--neutral-clr-medium);
  background-color: var(--primary-clr-light);
  background-image: url("./assets/images/pattern-background-mobile.svg");
  background-size: 100% 50%;
  background-repeat: no-repeat;
  font-family: "Red Hat Display", sans-serif;
  font-size: var(--font-size-s);
  font-weight: 500;
  line-height: var(--line-height-l);
  min-height: 100svh;
  padding: var(--spacing-300);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding-bottom: var(--spacing-300);
}

/* CARD COMPONENT */
.order-summary {
  max-width: 28rem;
  overflow: hidden;
  background-color: white;
  border-radius: 1.25rem;
  box-shadow: 0 40px 40px var(--card-shadow);
}

.illustration-hero {
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
  text-align: center;
  padding: var(--spacing-300);
}

.content h2 {
  color: var(--neutral-clr-dark);
  font-size: var(--font-size-l);
  font-weight: 900;
  line-height: var(--line-height-s);
  margin-top: var(--spacing-100);
}

.plan-section {
  display: flex;
  gap: var(--spacing-200);
  align-items: center;
  justify-content: space-between;
  background-color: var(--neutral-clr-light);
  padding: var(--spacing-200);
  border-radius: 0.75rem;
}

.plan-wrapper {
  display: flex;
  align-items: center;
  gap: var(--spacing-200);
}

.plan-section img {
  height: 3rem;
}

.plan {
  color: var(--neutral-clr-dark);
  font-weight: 900;
}

.change {
  color: var(--primary-clr-dark);
  font-weight: 700;
  text-decoration: none;
  /* margin-left: auto; */
}

.change:hover {
  color: var(--accent-clr);
}

.cta {
  color: var(--white);
  background-color: var(--primary-clr-dark);
  font-weight: 900;
  text-decoration: none;
  padding: var(--spacing-100);
  border-radius: 0.75rem;
  box-shadow: 0 20px 20px var(--primary-shadow);
}

.cta:hover {
  background-color: var(--accent-clr);
}

.cancel {
  color: var(--neutral-clr-medium);
  font-weight: 900;
  text-decoration: none;
}

.cancel:hover {
  color: var(--neutral-clr-dark);
}

@media (min-width: 28em) {
  body {
    background-image: url("./assets/images/pattern-background-desktop.svg");
    font-size: var(--font-size-m);
  }

  .content {
    padding: var(--spacing-600);
  }

  .content h2 {
    font-size: var(--font-size-xl);
  }
}

/* FOOTER */
.attribution {
  font-size: 0.75rem;
  text-align: center;
}
.attribution a {
  color: var(--primary-clr-dark);
}
